.form {
  flex: 10%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0.1em 1em 0.1em 2em;

  // &__label {
  // }
  &__input {
    font-family: $Poppins;
    font-size: 20px;
    @include glassmorphism;
    padding: 10px 30px;
    @include formRaduis;
    &:focus {
      outline: none;
    }
  }
  &__searchInput {
    font-family: $Poppins;
    font-size: 20px;
    @include glassmorphism;
    padding: 10px 30px;
    @include navRadius;
    &:focus {
      outline: none;
    }
  }
  &__btn {
    background-color: transparent;
    transform: translateX(-5.82em);
    font-size: 17px;
    padding: 13px 23px;
    margin: 0.2em 1em 0.2em 1em;
    border: 2px solid $black;
    @include formRaduis;
    color: $white;
    background-color: $black;
    &:hover {
      cursor: pointer;
    }
  }
  &__search {
    background-color: transparent;
    transform: translateX(-7.25em);
    font-size: 17px;
    padding: 13px 23px;
    margin: 0.2em 1em 0.2em 1em;
    border: 2px solid $black;
    @include navRadius;
    color: $white;
    background-color: $black;
    &:hover {
      cursor: pointer;
    }
  }
}

@media screen and (min-width: $big) {
  .form {
    flex: 10%;
    height: 10%;
    width: 100%;
  }
}
