@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.App {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container {
  border-radius: 6px;
  width: 95vw;
  height: auto;
  overflow: auto;
  scroll-behavior: smooth;
  background-color: #fff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='200' height='200' viewBox='0 0 800 800'%3E%3Crect fill='%23DEB2A9' width='800' height='800'/%3E%3Cg fill='none' stroke='%23B98D82' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%234C4C4C'%3E%3Ccircle cx='769' cy='229' r='6'/%3E%3Ccircle cx='539' cy='269' r='6'/%3E%3Ccircle cx='603' cy='493' r='6'/%3E%3Ccircle cx='731' cy='737' r='6'/%3E%3Ccircle cx='520' cy='660' r='6'/%3E%3Ccircle cx='309' cy='538' r='6'/%3E%3Ccircle cx='295' cy='764' r='6'/%3E%3Ccircle cx='40' cy='599' r='6'/%3E%3Ccircle cx='102' cy='382' r='6'/%3E%3Ccircle cx='127' cy='80' r='6'/%3E%3Ccircle cx='370' cy='105' r='6'/%3E%3Ccircle cx='578' cy='42' r='6'/%3E%3Ccircle cx='237' cy='261' r='6'/%3E%3Ccircle cx='390' cy='382' r='6'/%3E%3C/g%3E%3C/svg%3E");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 12px;
  margin: 20px 0;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 80px;
}

::-webkit-scrollbar-thumb {
  border-radius: 40px;
}

@media screen and (min-width: 780px) {
  .container {
    width: 80vw;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    width: 70vw;
    padding: 0 5px;
  }
}

.main {
  -webkit-box-flex: 94%;
      -ms-flex: 94%;
          flex: 94%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.tasks {
  -webkit-box-flex: 80%;
      -ms-flex: 80%;
          flex: 80%;
  width: 100%;
}

@media screen and (min-width: 1024px) {
  .main {
    height: 100%;
  }
  .tasks {
    -webkit-box-flex: 85%;
        -ms-flex: 85%;
            flex: 85%;
    height: 85%;
    width: 100%;
  }
}

.form {
  -webkit-box-flex: 10%;
      -ms-flex: 10%;
          flex: 10%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 0.1em 1em 0.1em 2em;
}

.form__input {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  background-color: #fff;
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 255, 255, 0.705)), to(rgba(255, 255, 255, 0.034)));
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.705), rgba(255, 255, 255, 0.034));
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 239, 233, 0.5);
  padding: 10px 30px;
  border-radius: 10px 50px 10px 50px;
}

.form__input:focus {
  outline: none;
}

.form__searchInput {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  background-color: #fff;
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 255, 255, 0.705)), to(rgba(255, 255, 255, 0.034)));
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.705), rgba(255, 255, 255, 0.034));
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 239, 233, 0.5);
  padding: 10px 30px;
  border-radius: 50px 10px 50px 10px;
}

.form__searchInput:focus {
  outline: none;
}

.form__btn {
  background-color: transparent;
  -webkit-transform: translateX(-5.82em);
          transform: translateX(-5.82em);
  font-size: 17px;
  padding: 13px 23px;
  margin: 0.2em 1em 0.2em 1em;
  border: 2px solid #000;
  border-radius: 10px 50px 10px 50px;
  color: #fff;
  background-color: #000;
}

.form__btn:hover {
  cursor: pointer;
}

.form__search {
  background-color: transparent;
  -webkit-transform: translateX(-7.25em);
          transform: translateX(-7.25em);
  font-size: 17px;
  padding: 13px 23px;
  margin: 0.2em 1em 0.2em 1em;
  border: 2px solid #000;
  border-radius: 50px 10px 50px 10px;
  color: #fff;
  background-color: #000;
}

.form__search:hover {
  cursor: pointer;
}

@media screen and (min-width: 1024px) {
  .form {
    -webkit-box-flex: 10%;
        -ms-flex: 10%;
            flex: 10%;
    height: 10%;
    width: 100%;
  }
}

.nav {
  -webkit-box-flex: 5%;
      -ms-flex: 5%;
          flex: 5%;
  width: 100%;
  margin: 2em 0 0 0;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  margin-left: 5px;
  margin-top: -12px;
}

.nav__item {
  list-style: none;
  margin-right: 5px;
  padding: 4px 12px;
  border: 2px solid #000;
  -webkit-transition: 500ms;
  transition: 500ms;
  border-radius: 50px 10px 50px 10px;
}

.nav__item:hover {
  cursor: pointer;
}

.nav__link {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: 600;
  color: black;
}

@media screen and (min-width: 1024px) {
  .nav {
    -webkit-box-flex: 5%;
        -ms-flex: 5%;
            flex: 5%;
    width: 100%;
    height: 5%;
  }
  .nav__list {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    margin-left: 10px;
  }
  .nav__item {
    list-style: none;
    margin-right: 10px;
    padding: 4px 15px;
    -webkit-transition: 500ms;
    transition: 500ms;
    border-radius: 50px 10px 50px 10px;
  }
  .nav__link {
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 600;
  }
}

.cards {
  padding: 1em 0 2em 0.5em;
  width: 100%;
  -webkit-transition: 500ms;
  transition: 500ms;
}

.cards__msg {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cards__msg p {
  background-color: #fff;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  padding: 10px 12px;
  max-width: 60%;
  margin-top: 3em;
}

.cards__card {
  border-radius: 10px 50px 10px 50px;
  -webkit-transition: 500ms;
  transition: 500ms;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 12vh;
  width: 100%;
  background-color: #fff;
  margin: 1em 0;
}

.cards__title {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  color: #000;
  margin-left: 30px;
}

.cards__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

.cards__btn {
  padding: 5px 10px;
  margin: 0 4px;
  border: none;
}

.cards__btn:hover {
  cursor: pointer;
}

.cards__btn:focus {
  outline: none;
  border: none;
}

.start-btn {
  background-color: #000;
  color: #ffefe9;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  letter-spacing: 1px;
}

.finish-btn {
  background-color: #fff;
  color: #69493c;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  letter-spacing: 1px;
}

.icon-btn {
  background-color: #fff;
  padding: 0px 4px;
}

@media screen and (min-width: 780px) {
  .cards {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .cards__msg {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .cards__msg p {
    background-color: #fff;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    padding: 10px 12px;
    max-width: 60%;
    margin-top: 3em;
  }
  .cards__card {
    border-radius: 10px 50px 10px 50px;
    height: 75px;
    width: 85%;
  }
  .cards__title {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    color: #000;
  }
  .cards__btn {
    padding: 7px 12px;
    margin: 0 5px;
    border: none;
  }
  .cards__btn:hover {
    cursor: pointer;
  }
  .cards__btn:focus {
    outline: none;
    border: none;
  }
  .cards__buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-transform: scale(1) translateX(-1em);
            transform: scale(1) translateX(-1em);
  }
  .start-btn {
    background-color: #000;
    color: #ffefe9;
    font-family: "Roboto", sans-serif;
  }
  .finish-btn {
    background-color: #fff;
    color: #69493c;
    font-family: "Roboto", sans-serif;
  }
  .icon-btn {
    background-color: #fff;
    padding: 1.5px 4px;
  }
}

.date {
  border-bottom: 1px solid #000;
  -webkit-box-flex: 3%;
      -ms-flex: 3%;
          flex: 3%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 0 0 1em 0;
}

.date__day {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px;
  background-color: #fff;
  padding: 1px 5px;
}

.date__date {
  margin-left: 10px;
  font-family: "Roboto", sans-serif;
  background-color: #fff;
  padding: 1px 3px;
}

.date__year {
  display: initial;
  font-family: "Roboto", sans-serif;
  background-color: #fff;
  padding: 1px 6px;
  margin: 0;
}

.date__motiv {
  display: none;
}

@media screen and (min-width: 1024px) {
  .date {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 20px 10px;
  }
  .date__day {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
  }
  .date__date {
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    padding: 1px 10px;
  }
  .date__motiv {
    display: initial;
    text-align: left;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    background-color: #fff;
    padding: 1em;
  }
  .date__motiv-name {
    font-size: 14px;
    display: block;
  }
}
/*# sourceMappingURL=styles.css.map */